/* Write some CSS below */
h1{
	color: white;
	text-align: center;
	font-family: arial black, sans-serif;
	font-size: 40px;
	line-height: 2;
	letter-spacing: 1px;
	font-weight: bold;
}

h3{
	color: skyblue;
	text-align: center;
	font-family: Oswald, sans-serif;
	font-weight: lighter;
	font-weight: bold;
	font-size: 20px;
}

h2{
	color: black;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

a{
	color: white;
	font-family: arial;
	text-align: center;
}

p{
	color: darkgrey;
	font-size: 18px;
	text-align: center;

}

.banner{
	height: 434px;
	width: auto;
	background-image: url("siteweb/Famille.jpg");
	background-size: cover;
	text-align: center;
	padding-top:100px;
}

.btn_blue{
	width: 200px;
	height: 36px;
	background-color: skyblue;
	padding: 7px 0px 0px 0px;
	border-radius: 4px;
	text-align: center;
	margin:0px auto;
}

.image_card{
	height: 150px;
}

.travel_card{
	height: 250px;
	width: 220px;
	border: 3px solid skyblue;
	margin: 70px;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 50px;
}

.travel_text{
	height: 150px;
	text-align: center;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
}

.footer{
	height: 100px;
	background-color:#3E3C3B;
	color: white;
	padding-top: 50px;
}