/* Write some CSS below */
h1{
	color: white;
	text-align: center;
	font-family: arial black, sans-serif;
	font-size: 40px;
	line-height: 2;
	letter-spacing: 1px;
	font-weight: bold;
}

h3{
	color: white;
	text-align: center;
	font-family: arabic typesetting, sans-serif;
	font-weight: lighter;
}

h2{
	color: black;
	text-align: justify;
}

a{
	color: white;
	font-family: arial;
	text-align: center;
}

.banner{
	height: 434px;
	width: auto;
	background-image: url("images/background.jpg");
	background-size: cover;
	text-align: center;
	padding-top:100px;
}

.btn_blue{
	width: 200px;
	height: 36px;
	background-color: blue;
	padding: 7px 0px 0px 0px;
	border-radius: 4px;
	text-align: center;
	margin:0px auto;
}

.campus_card{
	height: 300px;
	width: 50px;
	border: 1px solid red;
	margin: 10px;
}

.campus_text{
	height: 300px;
	width: 200px;
	border: 1px solid red;
	margin: 10px;
}

.footer{
	height: 100px;
	background-color:#3E3C3B;
	color: white;
	padding-top: 50px;
}