/* Write some CSS below */
h1{
	color: white;
	text-align: center;
	font-family: arial black, sans-serif;
	font-size: 40px;
	line-height: 2;
	letter-spacing: 1px;
	font-weight: bold;
}

h3{
	color: white;
	text-align: center;
	font-family: arabic typesetting, sans-serif;
	font-weight: lighter;
}

h2{
	color: black;
	text-align: justify;
}

a{
	color: white;
	font-family: arial;
	text-align: center;
}

.banner{
	height: 434px;
	width: auto;
	background-image: url("images/background.jpg");
	background-size: cover;
	text-align: center;
	padding-top:100px;
}

.btn_blue{
	width: 200px;
	height: 36px;
	background-color: blue;
	padding: 7px 0px 0px 0px;
	border-radius: 4px;
	text-align: center;
	margin:0px auto;
}

.image_card{
	height: 140px;
}

.campus_card{
	height: 250px;
	width: 220px;
	border: 2px solid green;
	margin: 70px;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 50px;
}

.campus_text{
	height: 150px;
	width: 150px;
	text-align: center;
}
.cards{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
}

.footer{
	height: 100px;
	background-color:#3E3C3B;
	color: white;
	padding-top: 50px;
}